<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>BUNDLE_ID</key>
	<string>com.mipar52.google-examples-swift</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GIDClient</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.221523093975-jr6o0k2k9m0t0v05463i0u8umta22vp5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>221523093975-jr6o0k2k9m0t0v05463i0u8umta22vp5.apps.googleusercontent.com</string>
	<key>REVERSED_GIDClientID</key>
	<string>com.googleusercontent.apps.221523093975-jr6o0k2k9m0t0v05463i0u8umta22vp5</string>
</dict>
</plist>
